{{ if  eq .Ctx.Paginator.PageNumber 1 }}
<div style="margin-bottom:5em">
    <h3>
    Ey stranger. Ricardo here, welcome to my abode :) <br>

    If you are looking for a more ‘standardised’ portfolio related to my main professional activity, that's living
    <a href="https://www.rirsc.xyz/"target="_blank">  here </a>(for now).<br>
    This site is my digital sandbox where I intend to document my activities and online discoveries. A so-called
    <a href="https://pluralistic.net/2021/05/09/the-memex-method/" target="_blank"> memex,</a>
    an archive of my experiences and acquired knowledge. <br>
    More about it 
    <a href="/pages/about"> here.</a><br>
    Enjoy!
    </h3>
</div>
{{ end }}


{{ $allPostsList := .AllPostsList }}
{{ $postsList := where $allPostsList "Section" "posts" }}
{{ $featuredPostsList := slice }}
{{ $pagination := slice }}
{{ if site.Params.enableFeatured | default false }}
    {{ $featuredPostsList = where $allPostsList "Params.featured" true }}
    {{ $postsList = union (where $allPostsList "Params.featured" false) (where $allPostsList "Params.featured" nil) }}
    {{ $pagination = (.Ctx.Paginate $postsList).Pages }}
    {{ if eq .Ctx.Paginator.PageNumber 1 }}
        {{- partial "featured_articles.html" $featuredPostsList -}}
    {{ end }}
{{ else }}
    {{ $pagination = (.Ctx.Paginate $postsList).Pages }}
{{ end }}

{{/* pagination */}}
<div class="postlist {{ if site.Params.gridView }}gridView{{ end }}" id="postlist">
    {{ range $pagination }}
    {{ if eq .Section "posts" }}
    {{- partial "article_card.html" . -}}
    {{ end }}
    {{ end }}
</div>
<div id="getNextBtnContainer"></div>
{{- partial "paginator.html" .Ctx -}}