{{- partial "head.html" . -}}
{{- partial "build_assets.html" . -}}


<body class="layout-wide">
  <div id="baseContainer">
    {{- partial "header.html" . -}}

    <div id="contentContainer">
      <section class="project">
        <div class="project-content">
          <div class="project-title-col">
            {{ if and (ne .File.BaseFileName "lab") (ne (.Params.showtitle | default true) false) }} <!-- If the file name is not 'lab.md' or showtitle is not false -->
            <h1>{{ .Title }}</h1>
            <h5>{{ .Params.subtitle }}</h5>
            {{ end }}
          </div>
          {{ .Content }}
        </div>
      </section> 

      {{- partial "footer.html" . -}}
    </div>
  </div>

  {{- partial "plausible.html" . -}}
  {{- partial "umami.html" . -}}
  {{- partial "inject/body.html" . -}}
</body>
