{{ define "main" }}

{{ $paginator := .Paginate (.Pages.ByWeight) }}
{{ $colors := shuffle (seq 0 7) }}

<section class="quotes">

{{ range $i, $page := $paginator.Pages }}    

<article class="quote color-{{ index $colors (mod $i (len $colors)) }}">

    {{ $page.Content }}

  <div class="quote-footer">
     {{ .Params.author }}
    {{ if .Params.source }}
    <br>
      <span class="source"> {{ .Params.source }}</span>
    {{ end }}
  </div>

</article>

{{ end }}

</section>

{{ partial "paginator.html" . }}

{{ end }}





