<footer>
    <hr/>
    {{- partial "inject/footer.html" . -}}

    <div class="footerContent">
        <div class="footer-left">
            <a href="https://mstdn.social/@rirsc" target="_blank">MASTODON</a>
            <a href="https://www.goodreads.com/user/show/62820279-ricardo-lopez" target="_blank">GOODREADS</a>
            <a href="https://github.com/Rirsc" target="_blank">GITHUB</a>
            <a href="https://letterboxd.com/Rirsc/" target="_blank">LETTERBOXD</a>            
        </div>
        <div class="footer-right"> © 2024 Ricardo López</div>
    </div>
</footer>