<footer>
    <div class="footer-inner">
        <hr/>
        {{- partial "inject/footer.html" . -}}

        <div class="footerContent">
           <div class="footer-left"> {{- partial "inject/footer.html" . -}} 
              {{/*  <div id="listenbrainz-container"></div>  */}}
                <a href="https://mstdn.social/@rirsc" target="_blank">Mastodon&#8599;</a>
                <a href=" https://bsky.app/profile/rirsc.bsky.social" target="_blank">Bluesky&#8599;</a>
                <a href="https://www.goodreads.com/user/show/62820279-ricardo-lopez" target="_blank">Goodreads&#8599;</a>
                <a href="https://github.com/Rirsc" target="_blank">Github&#8599;</a>
                <a href="https://letterboxd.com/Rirsc/" target="_blank">Letterboxd&#8599;</a>            
            </div>

            <div class="footer-right"> &copy; 2026 Ricardo L&oacute;pez</div>
        </div>
    </div>
</footer>
