<nav class="navbar">
    {{ if (.Site.Params.mobileHamburgerNav | default false) }}
    <input type="checkbox" id="main-nav-toggler" />
    {{ end }}

    <div class="navbar-wrapper">
        <div class="navbar-left">
            <a href="/" class="{{ if eq .RelPermalink "/" }}active{{ end }}">RIRSC</a>
        </div>
        <div class="navbar-right">
            <ul id="main-nav">
                <li>
                    <a href="/pages/works" class="{{ if eq $.RelPermalink "/pages/works/" }}active{{ end }}">WORK</a>
                    <a href="/projects/lab" class="{{ if eq $.RelPermalink "/projects/lab/" }}active{{ end }}">LAB</a>
                    <a href="/pages/etc" class="{{ if eq $.RelPermalink "/pages/etc/" }}active{{ end }}">ETC</a>
                    <a href="/pages/info" class="{{ if eq $.RelPermalink "/pages/info/" }}active{{ end }}">INFO</a>             
                </li>
            </ul>
        </div>
    </div>  
</nav>