{{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}



{{ range $paginator.Pages }}
<div>
    <h4 class="list-expanded-title">
        <a class="list-expanded-title" href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    {{ if (.Params.showDate | default true) }}
    <h6 class="date">
        {{- partial "date.html" .Date -}}
    </h6>
    {{ end }}
    {{- partial "single_post_expanded.html" . -}}
</div>
{{ end }}

<div id="getNextBtnContainer"></div>
{{- partial "paginator.html" . -}}