{{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}

{{ if eq $paginator.PageNumber 1 }}
<div class="intro">
  <h4>
    Ricardo is an industrial design engineer at Magic Leap, focused on designing
    immersive experiences in XR.
    <br />
    More about it <a href="/pages/info">here</a>.
  </h4>
</div>
{{ end }}

{{ range $paginator.Pages }}

<div class="list-expanded-block">
  <h4 class="list-expanded-title">
    <a class="list-expanded-title" href="{{ .Permalink }}">{{ .Title }}</a>
  </h4>
  {{ if (.Params.showDate | default true) }}
  <h6 class="date">{{- partial "date.html" .Date -}}</h6>
  {{ end }} {{/* {{- partial "single_post_expanded.html" . -}} */}} {{ if in
  .Content "READ MORE!" }} {{ $contentParts := split .Content "<!-- READ MORE! -->"
  }} {{ index $contentParts 0 | safeHTML }}
  <!-- Render content up to the marker -->
  <article class="article-content">
    <a href="{{ .Permalink }}" class="read-more">Read More</a>
  </article>
  {{ else }} {{- partial "single_post_expanded.html" . -}}
  <!-- Render full content if no marker -->
  {{ end }}
</div>
{{ end }}

<div id="getNextBtnContainer"></div>
{{- partial "paginator.html" . -}}
