{{ if eq .Ctx.Paginator.PageNumber 1 }}
<div style="margin-bottom:5em">
    <p>
        Ey there stranger. Ricardo here, welcome to my abode :) <br>
        If you are looking for a more ‘standardised’ portfolio, that's living at
        <a href="https://www.rirsc.xyz/" target="_blank"> rirsc.xyz&#8599;</a><br>
        This site is my digital sandbox where I intend to document my activities and online discoveries. A so-called
        <a href="https://pluralistic.net/2021/05/09/the-memex-method/" target="_blank"> memex&#8599;</a>
        an archive of my experiences and acquired knowledge.
        More at
        <a href="/pages/about"> about.</a><br>
        Enjoy!
    </p>
</div>
{{ end }}

{{ $allPostsList := .AllPostsList }}
{{ $postsList := $allPostsList }}
{{ $featuredPostsList := slice }}
{{ $pagination := slice }}
{{ if site.Params.enableFeatured | default false }}
{{ $featuredPostsList = where $allPostsList "Params.featured" true }}
{{ $postsList = union (where $allPostsList "Params.featured" false) (where $allPostsList "Params.featured" nil) }}
{{ $pagination = (.Ctx.Paginate $postsList).Pages }}
{{ if eq .Ctx.Paginator.PageNumber 1 }}
{{- partial "featured_articles.html" $featuredPostsList -}}
{{ end }}
{{ else }}
{{ $pagination = (.Ctx.Paginate $postsList).Pages }}
{{ end }}



{{/* pagination */}}
{{ range $pagination }}
<div class="list-group-item">
    <h2 class="list-expanded-title"><a class="list-expanded-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>

    {{ if (.Params.showDate | default true) }}
    <p class="date">
        {{/*  <span title='{{ i18n "date" }}'> </span>  */}}
        {{- partial "date.html" .Date -}}
    </p>
    {{ end }}


    {{- partial "single_post_expanded.html" . -}}



</div>
{{ end }}
<div id="getNextBtnContainer"></div>
{{- partial "paginator.html" .Ctx -}}