{{- partial "head.html" . -}} {{- partial "build_assets.html" . -}}

<body class="layout-wide">
  <div id="baseContainer">
    {{- partial "header.html" . -}}

    <div id="contentContainer">
      <div id="content">
      </div>

      <section class="project">
        <div class="project-content">
          {{ .Content }}
        </div>
      </section> 

      {{- partial "footer.html" . -}}
    </div>
  </div>

  {{- partial "plausible.html" . -}}
  {{- partial "umami.html" . -}}
  {{- partial "inject/body.html" . -}}
</body>
