{{ $album := .Get "album" }}


<div id="bandcamp-player-{{ $album }}" class="bandcamp-player">
    <div class="only-desktop">
        <div style="display: flex; justify-content: center;">
            <iframe style="border: 0; width: 700px; height: 230px;"
                src="https://bandcamp.com/EmbeddedPlayer/album={{ $album }}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/artwork=small/transparent=true/"
                seamless>
            </iframe>

        </div>
    </div>
    <div class="only-mobile">
        <div style="display: flex; justify-content: center;">
            <iframe style="border: 0; width: 700px; height: 230px;"
                src="https://bandcamp.com/EmbeddedPlayer/album={{ $album }}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/artwork=small/transparent=true/"
                seamless>
            </iframe>

        </div>
    </div>
</div>





